@page
@using DriverDistributor.Areas.Identity.Pages.Account
@model DriverDistributor.Areas.Identity.Pages.Account.LogOutModel

@{
    ViewData["Title"] = "خروج";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>شما با موفقیت خارج شدید.</p>
</header>
