
@font-face {
    font-family: 'IranFont';
    src: url('../fonts/iran-font.woff2') format('woff2'), url('../fonts/iran-font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, html {
    font-family: 'IranFont', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert{
    color:red;
    font-weight:200;
}

.text-red{
    color:red;
}
  
.text-green{
    color:green;
    margin-top:5px;
}


.navbar-nav {
    align-items: center;
}

    .navbar-nav .nav-item {
        margin-left: 8px;
        margin-right: 8px;
    }

.btn {
    border-radius: 8px;
    padding: 6px 14px;
    font-weight: 600;
}


