@page "/add-user-role"

<h3>  اضافه کردن نقش کاربر</h3>

@* <MudSelect T="string" *@
@* @bind-Value="_selectedRole" *@
@* Dense="true" *@
@* FitContent="true" *@
@* Clearable="false"> *@
@*     @foreach (var item in collection) *@
@*     { *@

@*     } *@
@* </MudSelect> *@

<EditForm >

<MudTextField T="string" Placeholder="نقش"></MudTextField>
</EditForm>



@code {
    private string _selectedRole{ get; set; }
    


    public enum Roles
    {
        Admin,HR,LogisticManger,User
    }
}
