@page "/add-user-role"
@using DriverDistributor.Data
@using DriverDistributor.Entities
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<AppDbContext> dbContextFactory
@inject UserManager<ApplicationUser> userManger
@inject RoleManager<ApplicationRole> roleManager

<h3>  اضافه کردن نقش کاربر</h3>

<MudForm @ref=form>
    <MudSelect T="string"
               Value="_selectedRole"
               ValueChanged="RoleChanged"
               Dense="true"
               FitContent="true"
               Clearable="false">
        @foreach (var item in roles)
        {
            <MudSelectItem Value="@item.Name">@item.PersianName</MudSelectItem>
        }
    </MudSelect>


    <MudTextField T="string" Placeholder="نقش"></MudTextField>
</MudForm>



@code {
    private MudForm form { get; set; }
    private string _selectedRole { get; set; }
    private IList<string> userRoles = [];
    private List<ApplicationRole> roles = [];

    private void RoleChanged(string role) => _selectedRole = role;

    private async Task GetSelectedUserRolesAsync(string username)
    {
        var user = await userManger.FindByNameAsync(username);
        if (user != null)
        {
            userRoles = await userManger.GetRolesAsync(user);
        }
    }

    private async Task GetRoleList() => roles = await roleManager.Roles.ToListAsync();

}
