@using DriverDistributor.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager



    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<ul dir="rtl" class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">
                Hello, @User.Identity.Name!
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LogOut">
                ov,[]
            </a>
        </li>
    }
    else
    {

        
            var routeData = Url.ActionContext.RouteData;
            var controller = routeData.Values["controller"];
            var action = routeData.Values["action"];
        

        if (action == "Register")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/LogIn">
                    ورود
                </a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                    ثبت نام
                </a>
            </li>
        }
    }
</ul>